*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.contenedor{
    width:80%;
    max-width:900px;
    margin:40px auto;
    background:#fff;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#0070f3;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    background:#0070f3;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
    margin-bottom:20px;
}

button:hover{
    background:#0056b3;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#0070f3;
    color:white;
}

.eliminar{
    background:red;
    width:auto;
    padding:8px 12px;
}

.eliminar:hover{
    background:#b30000;
}

h2{
    margin-top:20px;
    text-align:right;
    color:#0070f3;
}